<%- include("header.ejs") %>
	<div class="wrapper">
		<form class="form-signin" action="/" method="post">       
		  <h2 class="form-signin-heading">Admin login</h2>
		  <input type="text" name="username" placeholder="Email Address" /><br>
		  <input type="password" name="password" placeholder="Password" />  <br>    
		  <!-- <label class="checkbox">
			<input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
		  </label><br> -->
		  <button class="btn" type="submit">Login</button>   
		</form>
		
		
	</div>	
		<%- include("footer.ejs") %>