<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DuoChat</title>
    <link rel="shortcut icon" href="icons/logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    
<link rel="stylesheet" href="home_styles.css">
</head>
<body>
    <div id="landing-page">
        <nav>
            <ul id="navbar">
                <span id="logo"><img src="icons/logo.png" alt="">DuoChat</span>
                <li><a href="/login">Login</a></li>
                <li><a href="/signUp">Signup</a></li>
            </ul>
        </nav>
        <div id="infographic">
            <span id="info">
                <strong>Speak to the World!</strong><br><br>
                Join thousands of Duolingo users<br>
                to improve your language learning process!
            </span>
            <img id="banner" src="icons/communication.png" alt="">
        </div>
        
    </div>
    
    <div id="about-us">
        <span>A Community brought together by language</span>
        <div id="features">
            <div class="grid-items">
                <img src="icons/video-call-ill.png" alt="" style="width: 7rem;">
                <h4>Speak with the world</h4>
                <p>Practice with people of your level to improve faster</p>
            </div>
            <div class="grid-items">
                <img src="icons/topic-ill.png" alt="" >
                <h4>Prompts..Prompts!</h4>
                <p>Frequent prompts every 5 min on the topic of discussion</p>
            </div>
            <div class="grid-items">
                <img src="icons/friends-ill.png" alt="">
                <h4>Connect with people</h4>
                <p>Make friends along the way and frequently talk to them</p>
            </div>
            <div class="grid-items">
                <img src="icons/languages-ill.png" alt="">
                <h4>Not just Duolingo</h4>
                <p>Any other language learner can join in</p>
            </div>
        </div>
    </div>
    <div id="footer">
        <a href=""><img src="icons/youtube.png" alt=""></a>
        <a href=""><img src="icons/instagram.png" alt=""></a>
        <a href=""><img src="icons/facebook.png" alt=""></a>
    </div>
</body>
</html>