<%- include("header.ejs") %>

<div class="wrapper">
    <h2>Sign Me Up !</h2>
    <form action="/signUp" method="post">
        <input type="text" name="name" placeholder="Enter Name" required="true"><br>
        <input type="text" name="gender" placeholder="Enter gender: " required="true"><br>
        <input type="text" name="native" placeholder="Enter mother tongue: " required="true"><br>
        <input type="text" name="learning" placeholder="Enter the language you are learning: " required="true"><br>
        <input type="text" name="email" placeholder="Enter e-mail" required="true"><br>
        <input type="number" name="number" placeholder="Enter mobile number" required="true"><br>
        <input type="number" name="rating" placeholder="Enter number of crowns: " ><br>
        <input type="username" name="username" placeholder="Enter Username" required="true"><br>
        <input type="password" name="password" placeholder="Enter Password" required="true"><br>
        <button type="submit" class="btn" >Register!</button>
    </form>
</div>

<%- include("footer.ejs") %>